.three-cards-section {
  max-width: 720px;
  margin: 25px;
}

.cards {
  overflow: scroll;
}

.card-expese-statistics-section {
  max-width: 250px;
  height: 300px;
}

.card-list {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-new-card-section {
  max-width: 500px;
  flex: 1 1 250px;
}

.card-settings-section {
  max-width: 380px;
  flex: 1 1 300px;
}
