.three-small-sections {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.small-section-frame {
  flex-grow: 1;
  display: flex;
  background-color: white;
  border-radius: 20px;
  min-width: 200px;
  max-width: 270px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.diagram-frame {
  min-width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.my-investment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-investment-section {
  max-width: 500px;
}

.trending-stock-section {
  max-width: 350px;
  min-width: 200;
}
