.my-investments-section {
  max-width: 500px;
}

.trending-stock-section {
  max-width: 350px;
  min-width: 200;
}

.yearly-total-investment-section {
  flex-basis: 270px;
  max-width: 500px;
  min-width: 270px;
}

.monthly-revenue-section {
  flex-basis: 270px;
  max-width: 500px;
  min-width: 270px;
}
