.three-small-sections {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.my-investments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-investment-section {
  max-width: 500px;
}

.trending-stock-section {
  max-width: 350px;
  min-width: 200;
}

.yearly-total-investment {
  flex-basis: 270px;
  max-width: 500px;
  min-width: 270px;
}

.monthly-revenue {
  flex-basis: 270px;
  max-width: 500px;
  min-width: 270px;
}
