.three-tiles {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.larger-tile .frame {
  flex-grow: 1;
  display: flex;
  background-color: white;
  border-radius: 20px;
  min-width: 200px;
  max-width: 270px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.larger-tile .title {
  color: #718ebf;
  padding: 3px;
  font-size: 14px;
  white-space: nowrap;
}

.larger-tile .amount {
  color: #232323;
  font-weight: 600;
  font-size: 20px;
  font-family: "Inter";
  white-space: nowrap;
}
