.toggle {
  --toggle-height: 20px;
  --toggle-border: 2px;
  --toggle-width: calc(var(--toggle-height) * 2);
  --toggle-circle: calc(var(--toggle-height) - var(--toggle-border) * 2);
}

.toggle.checkbox-container {
  display: inline-flex;
  justify-content: start;
  align-items: center;
}

.toggle .checkbox-container .label {
  margin: 0px 0px 0px 20px;
}

.toggle .toggle {
  background-color: #dfeaf2;
  min-width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: var(--toggle-height);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.toggle .toggle::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: var(--toggle-circle);
  min-width: var(--toggle-circle);
  height: var(--toggle-circle);
  border-radius: var(--toggle-circle);
  margin: var(--toggle-border);
  transition: 0.2s;
}
.toggle input:checked + .toggle {
  background-color: #16dbcc;
}

.toggle input:checked + .toggle::before {
  transform: translateX(calc(var(--toggle-width) / 2));
}
.toggle .toggle-input {
  display: none;
}
