.recent-transactions-tabs {
  border-bottom: solid 1px #ebeef2;
  position: relative;
  overflow: hidden;
  --tab-widht: 100px;
}

.recent-transactions-tabs button {
  background-color: transparent;
  border: none;
  width: var(--tab-widht);
  font-size: 13px;
  height: 30px;
  color: #718ebf;
}

.recent-transactions-tabs .indicator {
  position: absolute;
  bottom: -3px;
  border-radius: 6px;
  border: solid 3px #1814f3;
  width: calc(var(--tab-widht) - 6px);
  transition: 0.3s;
}

.recent-transactions-tabs button:nth-child(1).active ~ .indicator {
  transform: translateX(calc(var(--tab-widht) * 0));
}
.recent-transactions-tabs button:nth-child(2).active ~ .indicator {
  transform: translateX(calc(var(--tab-widht) * 1));
}
.recent-transactions-tabs button:nth-child(3).active ~ .indicator {
  transform: translateX(calc(var(--tab-widht) * 2));
}
