h1 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 26px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
}

#left-side {
  position: fixed;
  top: 0px;
  float: left;
  width: 230px;
  height: 100vh;
  border-right: 1px solid #e6eff5;
  background-color: white;
}

#right-side {
  margin-left: 231px;
}

.side-menu-container {
  position: fixed;
  top: 86px;
  z-index: 200;
  background-color: white;

  height: 100vh;
  width: 230px;
}

#logo-container {
  height: 85px;
  display: flex;
  align-items: center;
  padding-left: 27px;
}

#header-container {
  position: fixed;
  top: 0px;
  height: 85px;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #e6eff5;
  background-color: white;
  z-index: 100000;
  -webkit-backface-visibility: hidden;
}

.main-content {
  margin-top: 106px;
}

.center-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#icon-text {
  margin-left: 9px;
}

.search-bar {
  border: none;
  outline: none;
  background-color: #f5f7fa;
  color: #8ba3cb;
  border-radius: 20px;
  width: 100%;
}

input::placeholder {
  color: #8ba3cb;
  opacity: 1;
}

input::-ms-input-placeholder {
  color: #8ba3cb;
}
.search-field {
  display: inline-flex;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: #f5f7fa;
}

.round-button {
  min-width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #f5f7fa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0px 0px 0px 0px;
}

.side-menu-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.active li::before {
  content: "";
  height: 49px;
  width: 0px;
  position: absolute;
  left: -3px;
  border-right: 8px solid #2d60ff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-button span {
  color: #b1b1b1;
}

.active span {
  color: #2d60ff;
}

.options-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
}

.options-button:hover {
  background-color: #f5f5f5;
}

.top-right-options {
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 630px) {
  #left-side {
    display: none;
  }

  .search-field {
    display: none;
  }
  .round-button {
    display: none;
  }
  #right-side {
    margin: 0px;
  }
  #header-container {
    width: 100%;
  }
}

@media only screen and (min-width: 631px) {
  .options-button {
    display: none;
  }
  .top-right-options {
    flex-grow: 1;
  }
  .side-menu-container {
    display: none;
  }
}
