* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

body {
  background-color: #f5f7fa;
}

body {
  height: 100vh;
  overflow: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
