.settings-tabs {
  border-bottom: solid 1px #ebeef2;
  position: relative;
  overflow: hidden;
  --tab-width: 100px;
}

.settings-tabs .button {
  background-color: transparent;
  border: none;
  width: var(--tab-width);
  font-size: 13px;
  height: 30px;
  color: #718ebf;
}

.settings-tabs .indicator {
  position: absolute;
  left: 0px;
  bottom: -3px;
  border-radius: 6px;
  border: solid 3px #1814f3;
  width: calc(var(--tab-width) - 6px);
  transition: 0.3s;
}

.settings-tabs .link:nth-child(1).active ~ .indicator {
  transform: translateX(calc(var(--tab-width) * 0));
}
.settings-tabs .link:nth-child(2).active ~ .indicator {
  transform: translateX(calc(var(--tab-width) * 1));
}
.settings-tabs .link:nth-child(3).active ~ .indicator {
  transform: translateX(calc(var(--tab-width) * 2));
}
