.recent-transactions-short-section {
  flex-basis: 300px;
  max-width: 400px;
}

.weekly-activity-section {
  max-width: 500px;
}

.expense-statistics-section {
  max-width: 300px;
}

.quick-transfer-section {
  max-width: 400px;
}

.balance-history-section {
  flex-basis: 270px;
  max-width: 500px;
  min-width: 270px;
}
