.quick-transfer .frame {
  padding: 20px 10px 20px 10px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.quick-transfer .amount-frame {
  background-color: #edf1f7;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  margin: 0px 0px 0px 0px;
}

.quick-transfer .amount-input {
  border: none;
  outline: none;
  background-color: #edf1f7;
  color: #8ba3cb;
  width: 40px;
  font-size: 12px;
  margin: 10px 10px 10px 20px;
}

.quick-transfer .send-money-button {
  background-color: #1814f3;
  border: none;
  height: 40px;
  width: 90px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.quick-transfer .airplane {
  width: 17px;
  margin: 0px 0px 0px 10px;
}

.quick-transfer .send-amount {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quick-transfer .write-amount {
  color: #718ebf;
  font-weight: 300;
  font-size: 13px;
}

.quick-transfer .payee-summary {
  display: inline-flex;
  flex-direction: column;
  margin: 0px 1px 0px 1px;
}

.quick-transfer .payee-name {
  display: flex;
  justify-content: center;
  line-height: 10px;
  font-size: 11px;
  margin: 10px 0px 0px 0px;
}

.quick-transfer .payee-role {
  display: flex;
  justify-content: center;
  line-height: 30px;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
}

.quick-transfer .payee-profile-picture-container {
  display: flex;
  justify-content: center;
}

.quick-transfer .three-profiles {
  display: inline;
}

.quick-transfer .all-payees {
  overflow: visible;
  position: absolute;
}

.quick-transfer .slider {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.quick-transfer .arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 5px #bbbbbb;
  border: none;
  height: 40px;
  width: 40px;
}

.quick-transfer .arrow-button:disabled,
.quick-transfer .arrow-button[disabled] {
  background-color: #eeeeee;
}
