.recent-transactions-short .frame {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.recent-transactions-short .table {
  display: table;
}

.recent-transactions-short .table-row {
  display: table-row;
  height: 55px;
}

.recent-transactions-short .first-cell {
  height: 40px;
  width: 40px;
  display: table-cell;
  vertical-align: middle;
}

.recent-transactions-short .round-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-transactions-short .second-cell {
  height: 40px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.recent-transactions-short .second-cell .flex-container {
  height: 40px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}

.recent-transactions-short .second-cell .flex-container .memo {
  color: #232323;
  font-size: 13px;
  margin: 4px 3px 3px 9px;
}

.recent-transactions-short .second-cell .flex-container .date {
  color: #718ebf;
  font-size: 12px;
  margin: 0px 3px 3px 9px;
}

.recent-transactions-short .third-cell {
  height: 40px;
  width: 46px;
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
}
